/* Estilo Base */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(to bottom, #ffffff, #f5f5f5);
    font-family: 'Roboto', sans-serif;
    color: #333;
}

h1 {
    font-size: 3.8rem;
    color: #005f73;
    font-weight: 700;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

/* Cartões */
.card {
    border-radius: 15px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #fff;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.card-header {
    background: #0077b6;
    color: white;
    padding: 15px;
    font-size: 1.25rem;
    font-weight: 600;
}

.card-body {
    padding: 25px;
}

.card-footer {
    background: #f1f1f1;
    padding: 15px;
    border-top: 1px solid #ddd;
}

/* Botões */
button.btn,
.btn-link {
    transition:
        background-color 0.3s ease,
        transform 0.3s ease,
        box-shadow 0.2s ease;
    border-radius: 10px;
    padding: 12px 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

button.btn:hover,
.btn-link:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #2a9d8f;
    color: white;
}

.btn-primary {
    background-color: #457b9d;
    color: #fff;
}

.btn-primary:hover {
    background-color: #1d3557;
}

.btn-warning {
    background-color: #ffcc00;
    color: #333;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    font-size: 1rem;
    height: 50px; /* Ajuste a altura conforme necessário */
    line-height: 1; /* Ajuste de alinhamento vertical */
    transition:
        background-color 0.3s ease,
        transform 0.3s ease,
        box-shadow 0.2s ease;
    border-radius: 10px;
    margin-bottom: 5px; /* Adiciona margem inferior para alinhar melhor com o botão de excluir */
}

.btn-warning:hover {
    background-color: #ffaa00;
    color: #000;
}

.btn-danger {
    background-color: #e63946;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    font-size: 1rem;
    height: 50px; /* Ajuste a altura conforme necessário */
    line-height: 1; /* Ajuste de alinhamento vertical */
    transition:
        background-color 0.3s ease,
        transform 0.3s ease,
        box-shadow 0.2s ease;
    border-radius: 10px;
}

.btn-danger:hover {
    background-color: #d62839;
}

/* Links de navegação */
.navbar-nav .nav-item .nav-link {
    padding: 12px 20px;
    transition:
        background-color 0.3s ease,
        transform 0.3s ease,
        box-shadow 0.2s ease;
    border-radius: 8px;
    background-color: #2a9d8f;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav .nav-item .nav-link:hover {
    transform: translateY(-5px) scale(1.05); /* Animação com escala maior */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #1d3557;
    color: #fff;
}

/* Botão de Home com animação */
.navbar-nav .nav-item .nav-link.home-btn {
    padding: 12px 20px;
    transition:
        background-color 0.3s ease,
        transform 0.3s ease,
        box-shadow 0.2s ease;
    border-radius: 8px;
    background-color: #2a9d8f; /* Mesma cor que os botões de login e register */
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav .nav-item .nav-link.home-btn:hover {
    transform: translateY(-5px) scale(1.05); /* Animação no hover */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #1d3557; /* Cor de fundo no hover */
    color: #fff;
}

/* Input e Textarea */
textarea,
input[type='text'] {
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 12px 18px;
    font-size: 1rem;
    transition:
        border-color 0.3s ease,
        box-shadow 0.2s ease;
}

textarea:focus,
input:focus {
    border-color: #0077b6;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 119, 182, 0.5);
}
